.header{
    display: flex;
    background-color: darkseagreen;
    color: white;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}